openapi: 3.2.0
info:
  title: Sending Emails Trigger Campaign API
  version: '1.0'
  description: 'Use the API to send an email template, trigger a campaign or add a contact into a list directly from your system.


    Users require mmAPI key, template id and campaign id in respective cases to configure this API.


    Follow the help doc to get these details from your Mailmodo account. ( https://help.mailmodo.com/en/articles/145-how-to-get-the-mmapi-key-template-id-and-campaign-id )'
servers:
- url: https://api.mailmodo.com/api/v1
security:
- mmApiKey: []
tags:
- name: TriggerCampaign
paths:
  /triggerCampaign/{campaign-id}:
    parameters:
    - schema:
        type: string
      name: campaign-id
      in: path
      required: true
    post:
      summary: Send campaign email
      tags:
      - TriggerCampaign
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    success: true
                    message: Email scheduled successfully
                    ref: be2bab1a-e0a6-419c-8fe0-1d3557c2af63
                required:
                - success
                - message
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    minLength: 1
                  listId:
                    type: string
                    x-stoplight:
                      id: qcwldto2a8xfi
                    description: 'ID of the list created or updated in the API call. '
              examples:
                example-1:
                  value:
                    success: true
                    message: Email scheduled successfully
                    ref: be2bab1a-e0a6-419c-8fe0-1d3557c2af63
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                        failure reason:
                          type: string
                x-examples:
                  example-1:
                    Status: '400'
                    message: other error message
                    errors:
                    - email: string
                      failure reason: string
      operationId: post-triggerCampaign-campaign-id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  email: john@example.com
                  subject: string
                  data:
                    first_name: string
                  campaign_data:
                    transient_variable: string
                  addToList: string
              required:
              - email
              properties:
                email:
                  type: string
                  description: Provide email address of the contact to whom you want to send email
                subject:
                  type: string
                  description: Send this value if you want to override the default subject line provided at the time of creating the campaign.
                replyTo:
                  type: string
                  x-stoplight:
                    id: nr1lazc9stjvk
                  description: Send this value if you want to override the default replyTo provided at the time of creating the campaign.
                fromName:
                  type: string
                  x-stoplight:
                    id: zxnfqvdbc86pp
                  description: Send this value if you want to override the default fromName provided at the time of creating the campaign.
                campaign_data:
                  type: object
                  description: Personalization parameters sent inside the "campaign_data" block will not be added / update against the contact profile i.e. they works as transient variables.
                  properties:
                    key:
                      type: string
                      x-stoplight:
                        id: 8ua30i3j3sid2
                data:
                  type: object
                  description: 'Personalization parameters sent inside the "data" block will be added / update as user attributed against the contact profile.

                    '
                  properties:
                    key:
                      type: string
                      x-stoplight:
                        id: pey6r5qid3bv3
                addToList:
                  type: string
                  description: Optional parameters if you want to add users to the list as part of triggering the campaign
        description: "The send campaign API provides two type of data blocks for sending personalization parameters aka `campaign_data` and `data`. Given below is the difference between the two:\n\n`campaign_data` - Personalization parameters sent inside the \"campaign data\" block will not be added / update against the contact profile i.e. they works as transient variables.\n\n`data`- Personalization parameters sent inside the \"data\" block will be added / update as user attributed against the contact profile.\n\n> Handling of different scenarios:\n>\n> **Data object sent, Campaign Data object not sent**\n>\n> Personalization uses values from the `data` object or contact properties (if parameter is not sent in payload)\n> \n> Update the contact profile with values from the `data` object.\n> \n> **Campaign Data object sent, Data object not sent**\n> \n> Personalization uses values from the `campaign_data` object or contact properties (if parameter is not sent in payload).\n>\n> Do not update the user profile with `campaign_data` object information.\n> \n> **Both Data and Campaign data object sent**\n> \n> If the same variable is in both, `campaign_data` object will be used.\n>\n> Use contact properties if personalization is missing from the payload.\n> \n> Update the user profile with values from the `data` object \n"
      description: The send campaign API allows the user to trigger campaigns with personalization parameter added to the email template. To call this API, you will need the campaign id.
      parameters:
      - schema:
          type: string
        in: header
        name: Content-Type
        description: application/json
        required: true
      - schema:
          type: string
        in: header
        name: mmApiKey
        description: Please input your API key available at https://manage.mailmodo.com/app/settings/apikey
        required: true
      x-internal: false
components:
  securitySchemes:
    mmApiKey:
      name: mmApiKey
      type: apiKey
      in: header
      description: Please get it from the portal
x-internal: false
