openapi: 3.0.0
x-stoplight:
  id: a058e7501dfe7
info:
  title: Campaign Data
  version: 1.0.0
  description: |-
    Use the API to get list of campaign and engagement data for the individual campaigns.

    Users require mmAPI key and campaign id (for individual campaign) in respective cases to configure this API.
servers:
  - url: 'https://api.mailmodo.com'
components:
  securitySchemes:
    mmApiKey:
      name: mmApiKey
      type: apiKey
      in: query
security:
  - apikeyAuth: []
paths:
  /api/v1/campaigns:
    get:
      summary: API to get list of campaigns
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    campaigns:
                      - campaignType: CONTACT_LIST
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1688552850978
                        id: 20a48ee4-0e12-5d77-b93b-6b07b9af13e4
                        campaignName: 'Campaign - 2023-07-05, 03:57'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - MM Sample Email 1
                        createdAt: 1688552851042
                      - campaignType: CONTACT_LIST
                        templateId: cd313276-c5a2-4b99-a87b-bad218ff939b
                        scheduledAt: 1688473696940
                        id: cab4b3eb-88d0-5cf2-aaf8-3faa6c3257d7
                        campaignName: 'Campaign - 2023-07-04, 05:56'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - '[SAMPLE] - Kushal''s Jewelry'
                        createdAt: 1688473697025
                      - campaignType: CONTACT_LIST
                        templateId: a5a397b0-77f3-4f01-8e76-2a0634e76ceb
                        scheduledAt: 1688539130944
                        id: 40aea5e5-101a-5ca4-9929-86e9e8fe61c1
                        campaignName: 'Campaign - 2023-07-05, 12:05'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - MM Sample Email 4
                        createdAt: 1688539130995
                      - campaignType: CONTACT_LIST
                        templateId: 0649f54a-508c-4d77-aacd-fc61fef757a1
                        scheduledAt: 1688539117206
                        id: 49553580-a813-5540-b7d5-fb3331af3202
                        campaignName: 'Campaign - 2023-07-05, 12:03'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - MM Sample Email 3
                        createdAt: 1688539117252
                      - campaignType: CONTACT_LIST
                        templateId: c413f3e0-c217-49d3-8d0e-ea2879f3e6aa
                        scheduledAt: 1688539103269
                        id: 66a92c93-00c8-530c-a19e-3ff1df0c8e8d
                        campaignName: 'Campaign - 2023-07-05, 11:59'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - MM Sample Email 2
                        createdAt: 1688539103318
                      - campaignType: CONTACT_LIST
                        templateId: 6e0befff-1795-49f3-9423-4b1ad7f3786a
                        scheduledAt: 1688536721003
                        id: bb8c0f26-a17e-5426-bfb0-96cfe8d0032e
                        campaignName: 'Campaign - 2023-07-05, 11:26'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - MM Sample Email 1
                        createdAt: 1688536721058
                      - campaignType: CONTACT_LIST
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1688070481692
                        id: bda68778-f7e8-50a8-a5f3-1a6646ed50a0
                        campaignName: 'Campaign - 2023-06-30, 01:56'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample Interactive Email
                        createdAt: 1688070481790
                      - campaignType: CONTACT_LIST
                        templateId: d6093366-a772-4642-90e0-4a36c5c1497d
                        scheduledAt: 1687931972366
                        id: 031074d9-da1e-5f82-bf26-78a61466cf20
                        campaignName: 'Campaign - 2023-06-28, 11:28'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample Interactive Email
                        createdAt: 1687931972428
                      - campaignType: CONTACT_LIST
                        templateId: ea6487a0-98c1-41f2-9726-ed8d722ee4bd
                        scheduledAt: 1687439333408
                        id: f25d3061-3bde-5ddb-bbd8-f86afceb4676
                        campaignName: 'Campaign - 2023-06-22, 06:37'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1687439333458
                      - campaignType: CONTACT_LIST
                        templateId: 5caf9427-999b-4d53-a3c1-bd6feb443d5f
                        scheduledAt: 1687346104769
                        id: 24993dcf-1432-5328-84f8-a351426a872d
                        campaignName: 'Campaign - 2023-06-21, 04:38'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'UTI Mid - caps for higher returns '
                        createdAt: 1687346104824
                      - campaignType: TRIGGERED
                        templateId: 5a37b418-c01d-49ba-ad4f-05d4a13ddd98
                        scheduledAt: 1689061004464
                        id: 32b53fb2-3f06-568c-91e7-820c367103df
                        campaignName: 'Campaign - 2023-07-11, 01:06'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Lemnisk TEst
                        createdAt: 1689061004506
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 5a37b418-c01d-49ba-ad4f-05d4a13ddd98
                        scheduledAt: 1688990599159
                        id: a455bb8c-e691-5092-9234-3f7fdb9192b4
                        campaignName: 'Campaign - 2023-07-10, 05:33'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - asd
                        createdAt: 1688990599204
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 5a37b418-c01d-49ba-ad4f-05d4a13ddd98
                        scheduledAt: 1688986012811
                        id: b9689d10-46b1-5562-bb19-838b5a2b8047
                        campaignName: 'Campaign - 2023-07-10, 04:16'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Shopflo Feedbacl
                        createdAt: 1688986012860
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: a5a397b0-77f3-4f01-8e76-2a0634e76ceb
                        scheduledAt: 1688740561530
                        id: 4d77f527-2f12-5b6d-aeda-f25fc57ea6cd
                        campaignName: 'Campaign - 2023-07-07, 08:05'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'CleverTap Test '
                        createdAt: 1688740561575
                        triggerAppName: CleverTap
                      - campaignType: TRIGGERED
                        templateId: 3ee6d497-3cbe-4fbc-8446-0b6bcfc46965
                        scheduledAt: 1687858027716
                        id: cd8e11b4-950b-5f3c-8624-9c51f13ad167
                        campaignName: test dy block 27
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1687858027760
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 80e231c6-4a87-4479-8b84-6f3e2e839394
                        scheduledAt: 1687761565572
                        id: c102197e-ddf3-5e33-b305-2e80b87f648c
                        campaignName: 'Campaign - 2023-06-26, 12:09'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - A
                        createdAt: 1687761565611
                        triggerAppName: Rest API
                      - campaignType: CONTACT_LIST
                        templateId: 93b36069-b7d2-413b-84a0-c09010fc4d9e
                        scheduledAt: 1687332018164
                        id: 9d9ae391-723b-5083-b5a0-52096332bdcb
                        campaignName: 'Campaign - 2023-06-21, 12:49'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Calculate your SIP '
                        createdAt: 1687332018219
                      - campaignType: CONTACT_LIST
                        templateId: cd218a87-2ce1-4dca-849e-a1586f0e37d0
                        scheduledAt: 1687331942726
                        id: e037edb0-2eff-551d-8fd6-2801d95e2adf
                        campaignName: 'Campaign - 2023-06-21, 12:48'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Analyse your Risk '
                        createdAt: 1687331942806
                      - campaignType: CONTACT_LIST
                        templateId: 323ba5a7-79dd-42e9-ab73-7ff7356d811b
                        scheduledAt: 1687328835622
                        id: 7889808e-e36d-5ea0-99bc-a21647cb4611
                        campaignName: 'Campaign - 2023-06-21, 11:55'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'UTI Mid - caps for higher returns '
                        createdAt: 1687328835711
                      - campaignType: CONTACT_LIST
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1687196628119
                        id: bd5c1e1f-6503-59ac-a0fc-61a6d5550fa8
                        campaignName: 'Campaign - 2023-06-19, 11:12'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1687196628218
                      - campaignType: CONTACT_LIST
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1687179155844
                        id: 9f75dc5a-494b-5986-b73e-8c99c3e3c68e
                        campaignName: 'Campaign - 19-06-2023 - 06:21'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1687179155907
                      - campaignType: CONTACT_LIST
                        templateId: e7ddf38f-d9bc-41b6-9269-3c98bfab9ffe
                        scheduledAt: 1686942778000
                        id: f3fdef77-64a6-5784-8caa-3c361e2493d6
                        campaignName: 'Campaign - 16-06-2023 - 12:41'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1686856391138
                      - campaignType: TRIGGERED
                        templateId: ea6487a0-98c1-41f2-9726-ed8d722ee4bd
                        scheduledAt: 1687431362489
                        id: b95beca4-c99a-52a3-a0e7-8b574a89fb2f
                        campaignName: 'Campaign - 2023-06-22, 04:25'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'UTI Mid - caps for higher returns '
                        createdAt: 1687431362541
                        triggerAppName: MoEngage
                      - campaignType: CONTACT_LIST
                        templateId: 07dac5f7-bc03-4701-a504-7132339c577e
                        scheduledAt: 1686821694135
                        id: f140f2ae-727e-59b7-a72f-5629e7806a52
                        campaignName: test view in browser
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1686821694212
                      - campaignType: CONTACT_LIST
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1686722316287
                        id: 89674214-8701-5541-a92d-56a1a0d5f685
                        campaignName: 'Interactive Sample Temple 2  -  14-06-2023 - 05:58'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1686722316337
                      - campaignType: TRIGGERED
                        templateId: 5caf9427-999b-4d53-a3c1-bd6feb443d5f
                        scheduledAt: 1687346560515
                        id: 185cded7-cef4-5d51-917f-4d9258f31d0b
                        campaignName: 'Campaign - 2023-06-21, 04:51'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - hh
                        createdAt: 1687346560550
                        triggerAppName: Rest API
                      - campaignType: CONTACT_LIST
                        templateId: 93dd70dd-f54d-4671-8f28-1f6637be5680
                        scheduledAt: 1683611453358
                        id: e2d4eb42-72cf-5df8-aff7-5e6cd2edfc03
                        campaignName: 'test Shopify order ID in submission  -  09-05-2023 - 05:50'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1683611453416
                      - campaignType: CONTACT_LIST
                        templateId: 93dd70dd-f54d-4671-8f28-1f6637be5680
                        scheduledAt: 1683611301503
                        id: 6cecb50f-ca92-5ad5-b993-bac86ca2d4ce
                        campaignName: test Shopify order ID in submission
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1683611301548
                      - campaignType: CONTACT_LIST
                        templateId: 388bca16-ed15-4043-8331-145a1c204416
                        scheduledAt: 1683610700750
                        id: 726eab79-f7f6-59ae-90db-46293d6528e6
                        campaignName: 'Campaign - 09-05-2023 - 11:07'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - New features mail
                        createdAt: 1683610700814
                      - campaignType: CONTACT_LIST
                        templateId: cd38b3c0-e181-4496-ae9b-076b2a005d90
                        scheduledAt: 1683540999468
                        id: b0e1660e-17ed-5be9-aa47-4e2e6f00e741
                        campaignName: 'Campaign - 04-05-2023 - 01:57  -  08-05-2023 - 10:16'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - New features mail
                        createdAt: 1683540999711
                      - campaignType: CONTACT_LIST
                        templateId: 39c0a6f5-7e8f-4b31-8bf8-a111432b2f88
                        scheduledAt: 1683703193000
                        id: 8b322620-514a-5165-8bd8-558564d6a655
                        campaignName: 'Campaign - 08-05-2023 - 12:49'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - New features mail
                        createdAt: 1683530404339
                      - campaignType: CONTACT_LIST
                        templateId: cd38b3c0-e181-4496-ae9b-076b2a005d90
                        scheduledAt: 1683145698015
                        id: f840383f-cfc4-5448-aac4-1727dd3b2f1c
                        campaignName: 'Campaign - 04-05-2023 - 01:57'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - New features mail
                        createdAt: 1683145698083
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1683110917046
                        id: 170082eb-5399-51e8-9142-0c3d808f2c97
                        campaignName: 'Campaign - 03-05-2023 - 04:16'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Test
                        createdAt: 1683110918201
                      - campaignType: CONTACT_LIST
                        templateId: 16ca7b12-55ad-4cd8-b93c-d21f95fb24d2
                        scheduledAt: 1683099807474
                        id: 2583db0d-925f-5c35-a794-304e239da7d9
                        campaignName: 'Campaign - 03-05-2023 - 01:12'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Test
                        createdAt: 1683099807529
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1683039158109
                        id: fec3e4aa-e3ae-5e1b-b9da-456960d67e7e
                        campaignName: 'Campaign - 02-05-2023 - 08:21'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1683039158174
                      - campaignType: CONTACT_LIST
                        templateId: 5514f8d2-1bb6-45eb-8832-69ad24d7b5c2
                        scheduledAt: 1685377400458
                        id: 45d6f0ac-ac20-555f-95e3-ae0f1fab37eb
                        campaignName: 'Campaign - 29-05-2023 - 09:52'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1685377400511
                      - campaignType: CONTACT_LIST
                        templateId: 4bcca650-3e4c-4382-a80c-b2e7ca64368f
                        scheduledAt: 1684946707000
                        id: af3c4152-6b1d-5445-9fad-ae6964c10c2f
                        campaignName: Test - Centa
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1684925118455
                      - campaignType: CONTACT_LIST
                        templateId: d6093366-a772-4642-90e0-4a36c5c1497d
                        scheduledAt: 1684834801304
                        id: 77920a99-2992-5979-9ff4-630f7d69d1d9
                        campaignName: 'Campaign - 23-05-2023 - 03:07'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1684834801389
                      - campaignType: CONTACT_LIST
                        templateId: d6093366-a772-4642-90e0-4a36c5c1497d
                        scheduledAt: 1684821343615
                        id: a311c03e-93a4-5194-893e-cd8e5001922b
                        campaignName: 'Campaign - 23-05-2023 - 11:25'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP email
                        createdAt: 1684821343702
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1684319397262
                        id: 50a36564-7f4c-53ea-a9b1-80c4cb07680d
                        campaignName: 'Campaign - 17-05-2023 - 03:58'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - MM Test 487
                        createdAt: 1684319397341
                      - campaignType: CONTACT_LIST
                        templateId: 3eed6103-aae9-4aba-917a-2a21ef258ec8
                        scheduledAt: 1684219017545
                        id: 2f5f97e2-d170-5634-ad96-ee7fa7b37b7b
                        campaignName: Campaign test
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Hey ${First Name}'
                        createdAt: 1684219017648
                      - campaignType: CONTACT_LIST
                        templateId: 1861febd-9afd-4d74-91e4-836204fe19fd
                        scheduledAt: 1683884450057
                        id: 7ea1d07b-b1fb-580e-b0ae-38eb0299a7f6
                        campaignName: 'Campaign - 12-05-2023 - 03:10'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1683884450118
                      - campaignType: CONTACT_LIST
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1683876989803
                        id: bcd0f400-9c25-5cfd-9067-d07998afc067
                        campaignName: Interactive Sample Temple 2
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1683876989852
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1683876880126
                        id: da0ee704-6e51-5048-87c8-5ea96ba41605
                        campaignName: 'Interactive Sample Temple 1 '
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Interactive Sample Temple 1 '
                        createdAt: 1683876880189
                      - campaignType: CONTACT_LIST
                        templateId: 2e42e92a-3632-48fa-9c0c-8afc9c918b87
                        scheduledAt: 1683798993619
                        id: feb85da3-85b9-5a98-aa2b-c890bf3b4466
                        campaignName: 'Campaign - 11-05-2023 - 03:25'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Survey Sample
                        createdAt: 1683798993701
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1686722268213
                        id: c2bc6127-bc58-59df-83d5-75dadaea4bad
                        campaignName: Interactive Sample Temple 1   - June
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Interactive Sample Temple 1 '
                        createdAt: 1686722268278
                      - campaignType: CONTACT_LIST
                        templateId: 66062e2a-88ed-4eb9-97dd-297e22ed8b56
                        scheduledAt: 1686648139076
                        id: dda4e967-e007-53d3-8de6-1aee5f8452f1
                        campaignName: 'Campaign - 13-06-2023 - 02:51'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Flexiple
                        createdAt: 1686648139125
                      - campaignType: CONTACT_LIST
                        templateId: d6093366-a772-4642-90e0-4a36c5c1497d
                        scheduledAt: 1686577133262
                        id: 2e29215a-6916-5863-b1f8-0a958087a06f
                        campaignName: 'Campaign - 12-06-2023 - 07:07'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1686577133319
                      - campaignType: CONTACT_LIST
                        templateId: 0b0e59da-c620-4d84-b8c6-c2455b7ee165
                        scheduledAt: 1686214628458
                        id: f908ef8c-154d-55df-b5f5-93cdb32a6ac1
                        campaignName: 'Campaign - 08-06-2023 - 02:26'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Mailmodo - Product recommendation
                        createdAt: 1686214628531
                      - campaignType: CONTACT_LIST
                        templateId: 50063248-bebd-4f52-9b5a-53caa60cd621
                        scheduledAt: 1686214293991
                        id: 66ae6dd5-c05e-5bea-986b-ca2542182ea0
                        campaignName: 'Campaign - 08-06-2023 - 02:19'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo Sample '
                        createdAt: 1686214294076
                      - campaignType: CONTACT_LIST
                        templateId: eb15590b-8127-4b2c-806f-4a2e069dd263
                        scheduledAt: 1686037284886
                        id: 658e0294-7bfd-50db-824c-1edec0bd50a2
                        campaignName: 'Campaign - 06-06-2023 - 01:10'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1686037284976
                      - campaignType: CONTACT_LIST
                        templateId: 74e35606-36df-46a5-b1ea-464bc6719c79
                        scheduledAt: 1685542737339
                        id: 0ecd90be-62d3-535a-8c8d-966f53b7ddc1
                        campaignName: 'Campaign - 31-05-2023 - 07:48'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo Test Email '
                        createdAt: 1685542737391
                      - campaignType: CONTACT_LIST
                        templateId: 9c9c678d-2190-473c-aff0-3bd1859aa74f
                        scheduledAt: 1685542661296
                        id: 6c14ce6c-0a01-5fb7-9290-f24d1b4ba830
                        campaignName: 'Campaign - 31-05-2023 - 07:46'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Mailmodo - Test Email
                        createdAt: 1685542661383
                      - campaignType: TRIGGERED
                        templateId: 66062e2a-88ed-4eb9-97dd-297e22ed8b56
                        scheduledAt: 1687172075322
                        id: 00c70e00-667c-5d42-a55e-fa4d095a19c7
                        campaignName: 'Campaign - 19-06-2023 - 04:24'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo - Sample Email '
                        createdAt: 1687172075381
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 73ff6f85-f434-4256-a8b7-27b8fb59a018
                        scheduledAt: 1687171943808
                        id: f63687f0-b682-5c87-b398-c5171554ed54
                        campaignName: Subject Line 65443
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - '246, 12'
                        createdAt: 1687171943851
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 496869a7-68ae-4916-92a8-b4d91655e810
                        scheduledAt: 1686907735941
                        id: ec4cb02f-37a7-5c19-ab5f-b853e33d984a
                        campaignName: 'Campaign - 16-06-2023 - 02:58'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - NPS
                        createdAt: 1686907736021
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 66062e2a-88ed-4eb9-97dd-297e22ed8b56
                        scheduledAt: 1686647975134
                        id: d68f918b-1294-5413-b147-ab9028ceb6d4
                        campaignName: 'Campaign - 13-06-2023 - 02:48'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Flexiple
                        createdAt: 1686647975212
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: fc85f719-e37c-4bd2-835e-a88a743462f6
                        scheduledAt: 1686566529739
                        id: 94bbcf44-f325-5557-94e7-225b09a68a02
                        campaignName: 'Campaign - 12-06-2023 - 04:11'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Mailmodo - Product recommendation
                        createdAt: 1686566529809
                        triggerAppName: MoEngage
                      - campaignType: TRIGGERED
                        templateId: dce88a6d-6563-4ecb-acda-3fb05643c081
                        scheduledAt: 1686559735481
                        id: 6616ca1c-f675-523b-9c74-7207fb14f02e
                        campaignName: 'Campaign - 12-06-2023 - 02:18'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - ax
                        createdAt: 1686559735572
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: d6e414ef-c91d-471c-b04c-6f8b5d2d5eee
                        scheduledAt: 1686134475074
                        id: 472c35eb-d639-56bc-9498-fa9b9fb82330
                        campaignName: 'Campaign - 07-06-2023 - 04:11'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - NPS
                        createdAt: 1686134475122
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 832b48a9-dfee-47ea-8452-dd5fbde389a7
                        scheduledAt: 1686119357730
                        id: 82420e36-809c-59d3-af18-670c313b3edf
                        campaignName: 'Campaign - 07-06-2023 - 11:58'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - ABC
                        createdAt: 1686119357805
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: c0df7c35-118b-42ea-af80-2b76df73e0a6
                        scheduledAt: 1686061413331
                        id: 4ae17082-5c8e-472a-b82c-c127a5f0c382
                        campaignName: Created Using API106
                        status: Triggered
                        emailType: AMP
                        subjects:
                          - This is a test subject line from me
                        createdAt: 1686061413376
                        triggerAppName: RestAPI
                      - campaignType: TRIGGERED
                        templateId: e744bb23-240f-46e4-968a-08dbef2bb472
                        scheduledAt: 1686043362469
                        id: 68364fab-90d9-5597-bfba-c7ce92a2fbc3
                        campaignName: 'Campaign - 06-06-2023 - 02:51'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Mailmodo Test Email '
                        createdAt: 1686043362521
                        triggerAppName: CleverTap
                      - campaignType: TRIGGERED
                        templateId: 5514f8d2-1bb6-45eb-8832-69ad24d7b5c2
                        scheduledAt: 1686036006059
                        id: 538786b1-c1cf-4c26-aa6c-af8269798a46
                        campaignName: Test create Campaign API 2
                        status: Triggered
                        emailType: AMP
                        subjects:
                          - '${subj} This is a test'
                        createdAt: 1686036006073
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 521214c8-0c06-4e7e-a5d1-333f10d0ac53
                        scheduledAt: 1686035926771
                        id: 37c78bd4-ae02-4c33-ac2d-b6a5ddd85ec1
                        campaignName: Test create Campaign API
                        status: Triggered
                        emailType: AMP
                        subjects:
                          - '${subj} This is a test'
                        createdAt: 1686035926785
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: c0df7c35-118b-42ea-af80-2b76df73e0a6
                        scheduledAt: 1686029668084
                        id: 051a7dd0-4dd9-4fc1-aaf7-ced9a2fd9495
                        campaignName: Created Using API 6
                        status: Triggered
                        emailType: AMP
                        subjects:
                          - This is a test subject line from me
                        createdAt: 1686029668097
                        triggerAppName: RestAPI
                      - campaignType: TRIGGERED
                        templateId: c0df7c35-118b-42ea-af80-2b76df73e0a6
                        scheduledAt: 1686029396817
                        id: 4b919618-9e84-4de3-893e-b306dda19a80
                        campaignName: Created Using API 1
                        status: Triggered
                        emailType: AMP
                        subjects:
                          - This is a test subject line from me
                        createdAt: 1686029396838
                        triggerAppName: RestAPI
                      - campaignType: TRIGGERED
                        templateId: 809a0f4b-3b2a-4ec5-aba0-d55d0daf406b
                        scheduledAt: 1685983098201
                        id: 720cc05b-d0ff-5c7a-94c9-5b7246ffe5a7
                        campaignName: 'Campaign - 05-06-2023 - 10:08'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - sdgsfgsdg
                        createdAt: 1685983098247
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: 521214c8-0c06-4e7e-a5d1-333f10d0ac53
                        scheduledAt: 1685980441524
                        id: c76832ca-e529-5af1-b7d0-e77ee2557ffb
                        campaignName: Shopify using pipedream and Shopify Automations
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - '${Subj}'
                        createdAt: 1685980441574
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: dd0f4b5c-e588-4b82-b2b7-0d9c66115117
                        scheduledAt: 1685963290157
                        id: 4946f8ed-f417-531e-8971-f7ef580814a8
                        campaignName: 'Campaign - 05-06-2023 - 04:37'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Mailmodo - Test Email
                        createdAt: 1685963290209
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 77070233-7d8f-42cb-a671-c7e44599cc80
                        scheduledAt: 1685613837838
                        id: 2b425a4d-01ad-59ec-afb5-aefac74aab03
                        campaignName: 'Campaign - 01-06-2023 - 03:33'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1685613837896
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 855fbe68-81a4-42aa-bbf6-45f2b8a90c03
                        scheduledAt: 1685376949154
                        id: f795517d-d68e-5596-978a-00a3cf510c04
                        campaignName: 'Campaign - 29-05-2023 - 09:45'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1685376949258
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: ed04ef41-cd9e-4686-856e-c75f06ac90c7
                        scheduledAt: 1685351020554
                        id: 1c7e595f-f1ce-5d98-bb96-924cc6a753b3
                        campaignName: 'Campaign - 29-05-2023 - 02:32'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1685351020783
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1685086376744
                        id: e8b9b346-c6b3-5ad5-8cba-600baa46abd0
                        campaignName: 'Campaign - 26-05-2023 - 01:02'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Feedback '
                        createdAt: 1685086376867
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: da33241f-4a81-459d-b8e3-31e1e90dc2f7
                        scheduledAt: 1684927451635
                        id: 143afc61-da14-5328-9e3b-c3c160abf7a4
                        campaignName: anveshan
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - a
                        createdAt: 1684927451742
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: da33241f-4a81-459d-b8e3-31e1e90dc2f7
                        scheduledAt: 1684926062440
                        id: e624ee80-8e8f-5d37-b9e4-1ea6cf2d704c
                        campaignName: anveshan checkout
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1684926062518
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 07dac5f7-bc03-4701-a504-7132339c577e
                        scheduledAt: 1684840715117
                        id: fdd98b37-c650-50a7-a191-dc49a7845e7e
                        campaignName: 'Campaign - 23-05-2023 - 04:48'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - aa
                        createdAt: 1684840715194
                        triggerAppName: Webhook
                      - campaignType: CONTACT_LIST
                        templateId: 9a47fcab-fdbf-410a-b1f0-ef9ac587dd7d
                        scheduledAt: 1682575331817
                        id: 6c1f045d-510c-53be-951c-6cd3cff38bea
                        campaignName: 'Campaign - 27-04-2023 - 11:30'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Mailmodo Sample
                        createdAt: 1682575331861
                      - campaignType: CONTACT_LIST
                        templateId: 1b539b50-2b1e-467c-9fa9-1f5c2175a37d
                        scheduledAt: 1682495130939
                        id: 922fe8a6-6380-5436-8e0f-d90755097378
                        campaignName: 'Campaign - 26-04-2023 - 01:15'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682495130982
                      - campaignType: TRIGGERED
                        templateId: 07dac5f7-bc03-4701-a504-7132339c577e
                        scheduledAt: 1684840629780
                        id: 530ab8f1-fb04-5bc1-aec2-acdfaab8a0bb
                        campaignName: 'Campaign - 23-05-2023 - 04:47'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1684840629826
                        triggerAppName: CleverTap
                      - campaignType: CONTACT_LIST
                        templateId: 1655b896-06b7-4034-b497-2f76a2fd2e17
                        scheduledAt: 1682495060801
                        id: 908834f5-9c71-573c-88ff-07c411576970
                        campaignName: 'Campaign - 26-04-2023 - 01:14'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682495060853
                      - campaignType: CONTACT_LIST
                        templateId: b79b5982-f041-408d-8465-77edc711e887
                        scheduledAt: 1682494825239
                        id: 573088f2-c763-575f-8d3f-bed7e018fd67
                        campaignName: 'Campaign - 26-04-2023 - 01:10'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Sample AMP emails '
                        createdAt: 1682494825289
                      - campaignType: CONTACT_LIST
                        templateId: dd4995b8-2818-4d3a-b055-6a3e481b7a4e
                        scheduledAt: 1682494765439
                        id: 51023ea4-c520-5b3b-9961-7b833e95ae13
                        campaignName: 'Campaign - 26-04-2023 - 01:08'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682494765488
                      - campaignType: CONTACT_LIST
                        templateId: 6ff65429-a5c0-4171-a565-85b04e00a86f
                        scheduledAt: 1682493947497
                        id: 15ff7da2-d69d-5602-97d5-5bd3f23cdc37
                        campaignName: Testtestest
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample testing for Yellowbus
                        createdAt: 1682493947568
                      - campaignType: CONTACT_LIST
                        templateId: 6ff65429-a5c0-4171-a565-85b04e00a86f
                        scheduledAt: 1682493344723
                        id: 0b1fdc59-0c59-58e0-8ddb-68e44a687e58
                        campaignName: 'Campaign - 26-04-2023 - 12:45'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - sample AMP email - 3
                        createdAt: 1682493344786
                      - campaignType: CONTACT_LIST
                        templateId: c18e2b3a-a867-469f-b2bc-ed6eee56216a
                        scheduledAt: 1682493318196
                        id: 25025456-17f5-5fb4-975a-7cbe9debde98
                        campaignName: 'Campaign - 26-04-2023 - 12:44'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP email 2
                        createdAt: 1682493318243
                      - campaignType: CONTACT_LIST
                        templateId: ddfef91a-f25d-4dfa-8f48-376cce9a6c79
                        scheduledAt: 1682493257903
                        id: d7e0092f-4fe2-53cc-9681-e1734bbcf97d
                        campaignName: 'Campaign - 26-04-2023 - 12:43'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - sample AMP email 2
                        createdAt: 1682493257946
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1682493201103
                        id: 6d7ca0ac-b8f3-59d8-9846-5ea16c8431b7
                        campaignName: 'Campaign - 26-04-2023 - 12:40'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682493201146
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1682493179526
                        id: 519b111b-48c1-5b21-9a2e-4632b66db6d7
                        campaignName: Sample AMP email - 1
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - sample AMP email - 1
                        createdAt: 1682493179581
                      - campaignType: CONTACT_LIST
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1682325787045
                        id: 6411754a-3a91-575f-9c7f-f4149ea63c6f
                        campaignName: 'Campaign - 24-04-2023 - 02:12'
                        status: Processed
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Forms within email
                        createdAt: 1682325787175
                      - campaignType: TRIGGERED
                        templateId: 07dac5f7-bc03-4701-a504-7132339c577e
                        scheduledAt: 1684840357954
                        id: 476db78b-4712-5f15-b05b-6d9a94028478
                        campaignName: 'Campaign - 23-05-2023 - 04:40'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1684840358037
                        triggerAppName: CleverTap
                      - campaignType: TRIGGERED
                        templateId: 423ab207-bdce-4087-8915-a13da511b6f0
                        scheduledAt: 1684826246740
                        id: 8c3958c8-62d7-572d-b19c-a1f0d3eb91f9
                        campaignName: Merren test
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1684826246803
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 52ea17b2-9973-4951-896a-095ff4e64cb8
                        scheduledAt: 1684825011002
                        id: 30160963-56c9-5b25-b767-fc806c7d0714
                        campaignName: 'Campaign - 23-05-2023 - 12:26'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 5343
                        createdAt: 1684825011089
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: ba24fe7e-7013-4106-831b-3f4bf466cc73
                        scheduledAt: 1684487742016
                        id: ca819e5e-a782-5e53-aa88-59f4d523770f
                        campaignName: 'Campaign - 19-05-2023 - 02:45'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'test '
                        createdAt: 1684487742054
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: 3ee6d497-3cbe-4fbc-8446-0b6bcfc46965
                        scheduledAt: 1684476834947
                        id: 2d411800-1d43-5cb9-9b32-3053e265fd8e
                        campaignName: dy block bullets
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1684476834990
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 590cc9b7-f9ff-415e-98ec-7dc853bd094c
                        scheduledAt: 1684321994795
                        id: 14575871-5988-5147-b48c-a559941ad036
                        campaignName: 'Campaign - 17-05-2023 - 04:42'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Hey ${First Name}'
                        createdAt: 1684321994839
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 5d766529-8b8d-4c7c-9249-b6dc1d5cc510
                        scheduledAt: 1684320053661
                        id: 7af1feaa-848f-57be-8ea7-7c781144dd46
                        campaignName: 'Campaign - 17-05-2023 - 04:10'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Interactive Sample Temple 1 '
                        createdAt: 1684320053705
                        triggerAppName: WebEngage
                      - campaignType: TRIGGERED
                        templateId: 3eed6103-aae9-4aba-917a-2a21ef258ec8
                        scheduledAt: 1684229840504
                        id: e4c27523-4ee3-5cc3-b26b-9c03399e2c78
                        campaignName: 'Campaign - 16-05-2023 - 03:07'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1684229840548
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: 3ee6d497-3cbe-4fbc-8446-0b6bcfc46965
                        scheduledAt: 1683971916685
                        id: 9589f03e-0227-523a-b54a-bba7c1e98396
                        campaignName: d block list
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1683971916732
                        triggerAppName: Webhook
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: b6b4a4b8-08a7-43e8-978f-9533fd4568f7
                        scheduledAt: 1684156887008
                        id: 2b0cb5b0-90c3-4439-9aba-8e7c2af8080c
                        campaignName: thdfgdf
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Interactive Sample Temple 2
                        createdAt: 1684156887019
                      - campaignType: TRIGGERED
                        templateId: 9da5c216-4786-4cb1-b6c2-51b2de3a1b5f
                        scheduledAt: 1683725336542
                        id: 4f4fca73-5f5c-5d07-8358-ea36546e1ff6
                        campaignName: test personalisation
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - subj test
                        createdAt: 1683725336588
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 45ff39e9-5b70-4ed9-b8a5-cb96ab637172
                        scheduledAt: 1683700991742
                        id: 5daae300-62db-5eed-88ba-cbe8627fbaa2
                        campaignName: 'Campaign - 10-05-2023 - 12:13'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1683700991794
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 93dd70dd-f54d-4671-8f28-1f6637be5680
                        scheduledAt: 1683628313854
                        id: b4421414-c409-5503-be23-b3d4684c0d56
                        campaignName: 'Campaign - 09-05-2023 - 04:01'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1683628313904
                        triggerAppName: CleverTap
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 3170df29-0082-4a92-a42e-eeffd8745e21
                        scheduledAt: 1683742975582
                        id: c9b2396e-02f6-4d3d-ac12-b7988f08fa6e
                        campaignName: adfdsfsd
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - adfgdsg
                        createdAt: 1683742975592
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 3170df29-0082-4a92-a42e-eeffd8745e21
                        scheduledAt: 1683732480317
                        id: 3f566dec-52ea-4f49-a10b-1561b41dc172
                        campaignName: kjdsbfkjbdf
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - New features mail
                        createdAt: 1683732480327
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 3170df29-0082-4a92-a42e-eeffd8745e21
                        scheduledAt: 1683124756926
                        id: 608e80aa-185f-486a-8e93-0486e5d646de
                        campaignName: KJBFKAEJD
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1683124756934
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 388bca16-ed15-4043-8331-145a1c204416
                        scheduledAt: 1683701753311
                        id: ec9d3028-baa6-418d-9eec-8a839a34e963
                        campaignName: asdhbasjn
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - test
                        createdAt: 1683701753315
                      - campaignType: TRIGGERED
                        templateId: ce87e3cc-b32e-4f2a-8d6b-fa62f2dbc646
                        scheduledAt: 1683544122945
                        id: e079d760-0470-54a1-8244-c812648afdc6
                        campaignName: 'Campaign - 08-05-2023 - 04:38'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - bn
                        createdAt: 1683544122983
                        triggerAppName: CleverTap
                      - isShopifyConfirmedOrderCampaign: true
                        campaignType: TRIGGERED
                        templateId: 5825710e-92ec-4b24-844f-6a6935aa183b
                        scheduledAt: 1638863929240
                        id: 8bfd2c63-5ef2-4543-9230-f9a7e21ece35
                        campaignName: Shopify Order Confirmation Campaign
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Great News! We have received your order ${order number}'
                        createdAt: 1638863929240
                      - isShopifyOrderFeedbackCampaign: true
                        campaignType: TRIGGERED
                        templateId: 5259cc06-7703-42ea-809d-079f7c09b252
                        scheduledAt: 1642417313049
                        id: 7d1e8b5f-b616-4f31-a73d-79a348fb50d5
                        campaignName: Shopify Product Review Campaign
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'Did you like ${product name}?'
                        createdAt: 1642417313049
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 5259cc06-7703-42ea-809d-079f7c09b252
                        scheduledAt: 1668167695632
                        id: f912486b-ced7-4c7b-b09c-694feb14fcbd
                        campaignName: 'SC 2022-11-11 17:24:33'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - '$(firstname}'
                        createdAt: 1668167695637
                      - campaignType: TRIGGERED
                        templateId: 74e35606-36df-46a5-b1ea-464bc6719c79
                        scheduledAt: 1683543827645
                        id: 2744c4a3-af33-57ac-b39f-8b6320defcd0
                        campaignName: 'Campaign - 08-05-2023 - 04:33'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - sdf
                        createdAt: 1683543827694
                        triggerAppName: MoEngage
                      - campaignType: TRIGGERED
                        templateId: ce87e3cc-b32e-4f2a-8d6b-fa62f2dbc646
                        scheduledAt: 1683273844370
                        id: 563acb62-f79b-5c6a-90a1-b97815160dd7
                        campaignName: test dy form
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - 'test '
                        createdAt: 1683273844596
                        triggerAppName: Webhook
                      - campaignType: TRIGGERED
                        templateId: 334159fe-2408-43c8-8dae-8e77cd92b042
                        scheduledAt: 1683199152985
                        id: bda96524-1fcf-57a7-90d5-2add3a976481
                        campaignName: 'Campaign - 04-05-2023 - 04:48'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - New features mail
                        createdAt: 1683199153022
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 612d399d-00ce-41b1-96e8-39116d2c8b68
                        scheduledAt: 1683095426749
                        id: 575e3b22-034e-558f-bb9e-4079913b9688
                        campaignName: 'Campaign - 03-05-2023 - 12:00'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Mailmodo Sample
                        createdAt: 1683095426804
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 199dcb46-aee8-434e-87ca-4c9d777c5853
                        scheduledAt: 1683094197358
                        id: 1b61a5cc-3520-50f1-8e09-daa71036efe7
                        campaignName: 'Campaign - 03-05-2023 - 11:35'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1683094197403
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 3d1af006-c826-4cdb-927f-6af40bd22167
                        scheduledAt: 1683092222061
                        id: 2814cdf2-2a6e-5b5b-8523-1fbea1895a95
                        campaignName: Campaign -45678
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - welcome
                        createdAt: 1683092222100
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: 3d1af006-c826-4cdb-927f-6af40bd22167
                        scheduledAt: 1683092210472
                        id: 20d4ae69-d7ea-52e6-8c32-399ea92155f0
                        campaignName: 'Campaign - 03-05-2023 - 11:06'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - welcome
                        createdAt: 1683092210897
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: 73f4a38d-8209-40cf-8b7e-7b942ea14c10
                        scheduledAt: 1683029984794
                        id: a3d69d1a-c330-525f-898e-3dc643a8f604
                        campaignName: 'Campaign - 02-05-2023 - 05:49'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1683029984836
                        triggerAppName: Hubspot
                      - campaignType: TRIGGERED
                        templateId: 9a47fcab-fdbf-410a-b1f0-ef9ac587dd7d
                        scheduledAt: 1682663568117
                        id: 60ffc182-1631-523f-82f2-72ae8ae52503
                        campaignName: 'Campaign - 28-04-2023 - 12:02'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682663568156
                        triggerAppName: CleverTap
                      - campaignType: TRIGGERED
                        templateId: 9a47fcab-fdbf-410a-b1f0-ef9ac587dd7d
                        scheduledAt: 1682663368406
                        id: acaa6676-b930-5780-8c80-9dadd0f9ec69
                        campaignName: 'Campaign - 28-04-2023 - 11:59'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682663368434
                        triggerAppName: Rest API
                      - campaignType: TRIGGERED
                        templateId: 066d7d8d-0903-487a-b8cf-081bf45af811
                        scheduledAt: 1682503611028
                        id: e08e9071-ec48-5aec-a787-4c93a3a24da7
                        campaignName: 'Campaign - 26-04-2023 - 03:35'
                        status: Triggered
                        emailType: AMP
                        senderEmail: amp@experiencemailmodo.com
                        subjects:
                          - Sample AMP emails
                        createdAt: 1682503611071
                        triggerAppName: MoEngage
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 9a395e5d-c7b6-4336-9b51-712ab368fada
                        scheduledAt: 1661789091933
                        id: 2fee3d22-092d-417b-bbd8-51c0368d6996
                        campaignName: qwertyhjkl
                        status: Triggered
                        emailType: AMP
                        senderEmail: rahul@mailmodo.com
                        subjects:
                          - asdfghm
                        createdAt: 1661789091940
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 6d89141a-4181-489d-9331-e1d55ae081bf
                        scheduledAt: 1661773769806
                        id: 7c7467e1-3605-4863-b0ad-6d69f6b31781
                        campaignName: TEst
                        status: Triggered
                        emailType: AMP
                        senderEmail: rahul@mailmodo.com
                        subjects:
                          - '${First Name} - Let us connect'
                        createdAt: 1661773769812
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: a0646c23-fd45-4641-96da-e9a98668838b
                        scheduledAt: 1661332117826
                        id: e664f257-d0f6-402a-90f7-9054b4d40966
                        campaignName: c0004
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - kripaXYZ
                        createdAt: 1661332117839
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: bc2dd085-8b77-4918-bbfd-263b091e48b3
                        scheduledAt: 1661330268846
                        id: a6fcb71e-6303-40c3-a66b-25b95b31eb69
                        campaignName: c00003
                        status: Triggered
                        emailType: AMP
                        senderEmail: intern@mailmodo.com
                        subjects:
                          - kripaXYZ
                        createdAt: 1661330268853
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 08984680-e142-48f0-8915-b6ffce04ce55
                        scheduledAt: 1661330162469
                        id: bed6c5c2-56b1-4dd1-b6d8-c59aa85bc9c4
                        campaignName: c00002
                        status: Triggered
                        emailType: AMP
                        senderEmail: myhtmltester@mailmodo.com
                        subjects:
                          - kripaXYZ
                        createdAt: 1661330162482
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: bc2dd085-8b77-4918-bbfd-263b091e48b3
                        scheduledAt: 1661330075002
                        id: 525a9d6f-996b-423e-b985-1f1400cad7df
                        campaignName: c00001
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - kripaXYZ
                        createdAt: 1661330075015
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 74ee40de-8377-4799-89b4-b3b91b8ec5ad
                        scheduledAt: 1661328354373
                        id: fc8eaa37-821f-4db5-a57f-f950e2f44b38
                        campaignName: Journey Campaign
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - '${First Name} - Let us connect'
                        createdAt: 1661328354379
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 37115d31-022b-4b0d-baf4-16756a57284e
                        scheduledAt: 1661322462964
                        id: 523d19db-694f-4a61-8a1a-ad40c76d86e1
                        campaignName: 87654test
                        status: Triggered
                        emailType: AMP
                        senderEmail: paul@mailmodo.com
                        subjects:
                          - test
                        createdAt: 1661322462973
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 74ee40de-8377-4799-89b4-b3b91b8ec5ad
                        scheduledAt: 1661322163752
                        id: f27f6020-5814-4a7d-8d93-ec8269e78069
                        campaignName: 1st Quiz
                        status: Triggered
                        emailType: AMP
                        senderEmail: paul@mailmodo.com
                        subjects:
                          - Test 1
                        createdAt: 1661322163757
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 323c6c07-baf8-4b42-ba2b-b66d8eae9b72
                        scheduledAt: 1660797059917
                        id: 233878a8-350f-4400-83cb-332ef9dd8af7
                        campaignName: c003
                        status: Triggered
                        emailType: AMP
                        senderEmail: intern@mailmodo.com
                        subjects:
                          - NPS Feedback
                        createdAt: 1660797059928
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 07c25d4d-c404-448b-a6e9-f3c5816dd118
                        scheduledAt: 1660797026308
                        id: 14c75090-03a4-454f-9aef-49c1e4a5c80c
                        campaignName: c002
                        status: Triggered
                        emailType: AMP
                        senderEmail: intern@mailmodo.com
                        subjects:
                          - NPS Feedback
                        createdAt: 1660797026313
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 37115d31-022b-4b0d-baf4-16756a57284e
                        scheduledAt: 1660796937366
                        id: 082e1012-868d-4612-ab0a-2d900b01dcf2
                        campaignName: c0001
                        status: Triggered
                        emailType: AMP
                        senderEmail: intern@mailmodo.com
                        subjects:
                          - NPS Feedback
                        createdAt: 1660796937372
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 003b27fe-f452-4c31-a18e-f724a85ff1be
                        scheduledAt: 1660721946748
                        id: 1dc346fe-fc2d-42b7-9677-dbe3d63a23cf
                        campaignName: Retreat - new addition
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - Team Retreat - September 2022
                        createdAt: 1660721946755
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 2d403000-4677-4099-a73f-241b140b78a3
                        scheduledAt: 1660117164249
                        id: 41b5cb8d-3afc-4819-b708-b8200717a6d2
                        campaignName: glo245
                        status: Triggered
                        emailType: AMP
                        senderEmail: paul@mailmodo.com
                        subjects:
                          - test
                        createdAt: 1660117164256
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 2d403000-4677-4099-a73f-241b140b78a3
                        scheduledAt: 1660047554058
                        id: f3c44d82-b99e-4ebd-a31f-75340bbdfeed
                        campaignName: Quiz Test
                        status: Triggered
                        emailType: AMP
                        senderEmail: paul@mailmodo.com
                        subjects:
                          - Quiz Test
                        createdAt: 1660047554064
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 18215831-68d5-4784-8e84-6dfc52fc970d
                        scheduledAt: 1660040288698
                        id: 4fed4353-799f-49c3-9b47-58261270c02a
                        campaignName: c2
                        status: Triggered
                        emailType: AMP
                        senderEmail: intern@mailmodo.com
                        subjects:
                          - test
                        createdAt: 1660040288704
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: b3d1596a-338d-4471-a60f-92e5aadaa67d
                        scheduledAt: 1659955627898
                        id: 5a2f3a4b-4f36-4353-95cf-afc44230027f
                        campaignName: 'abc2 '
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - test
                        createdAt: 1659955627905
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 5bece9d0-6c4d-4b1b-9835-cf67d58ea61e
                        scheduledAt: 1659955600053
                        id: f1b8a432-c4a3-418c-9cc5-9d518044cb91
                        campaignName: abc1
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - 'Hi ${first_name}, your cart misses u!'
                        createdAt: 1659955600060
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 0234a381-905e-4ceb-a33b-e10c0d905895
                        scheduledAt: 1658498692265
                        id: d3ea217a-1672-43f1-b5a5-8887ba6d73c1
                        campaignName: Welcome12344
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - Welcome to Mayfair
                        createdAt: 1658498692274
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: e5152213-bbc3-4195-b35b-60d298cb8ab7
                        scheduledAt: 1658323127053
                        id: c13179ad-45c1-47bf-82e2-0f394d8c9cec
                        campaignName: kpf1
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - form
                        createdAt: 1658323127059
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 5e53f3ff-5e7f-4bfc-b888-4ec427651893
                        scheduledAt: 1658314504418
                        id: afc0a0c2-8d50-4faa-9d52-88fc653a7780
                        campaignName: test12345678
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - NPS
                        createdAt: 1658314504462
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 3f27ac04-bf75-42ff-815c-dab909f5e57a
                        scheduledAt: 1658313952365
                        id: 9f7c1425-a2b0-4be8-9ad8-29842e853b53
                        campaignName: test123445678
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - Sample email template from Mailmodo
                        createdAt: 1658313952373
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 323c6c07-baf8-4b42-ba2b-b66d8eae9b72
                        scheduledAt: 1658313922115
                        id: 52741ee4-098d-4102-b701-32682c50b103
                        campaignName: Test1234567
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - NPS
                        createdAt: 1658313922123
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: ea9a8e0d-c882-4deb-a158-8148eeab037d
                        scheduledAt: 1658313888760
                        id: a2a1ae69-b7c4-4d64-85e9-ba5c4d9138d5
                        campaignName: test123456
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - Sample email template from Mailmodo
                        createdAt: 1658313888770
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: ea9a8e0d-c882-4deb-a158-8148eeab037d
                        scheduledAt: 1658226120321
                        id: b4cab922-159c-449d-a7dc-5d004492d9cf
                        campaignName: journey webhook test
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - NPS
                        createdAt: 1658226120330
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: bd9ff69a-f0b3-4de8-8c18-61ea9456602d
                        scheduledAt: 1657798365558
                        id: 46845cf0-f724-4544-a501-bca99e4c15ec
                        campaignName: test123456789
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - Test
                        createdAt: 1657798365565
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 4b328ccf-626c-4ebe-b746-b2a01672681a
                        scheduledAt: 1657709699852
                        id: 75a9b614-bc6d-450f-ad65-fb5b59eea7e8
                        campaignName: sample test 2
                        status: Triggered
                        emailType: AMP
                        senderEmail: paul@mailmodo.com
                        subjects:
                          - '${first_name} how are you?'
                        createdAt: 1657709699860
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 0fae7751-93af-4217-a58f-a86dbf529260
                        scheduledAt: 1657709669967
                        id: 759f4779-520c-4aa2-bb66-3e57ff8ccd9d
                        campaignName: sample test
                        status: Triggered
                        emailType: AMP
                        senderEmail: rahul@mailmodo.com
                        subjects:
                          - '${first_name}, how was your experience with us'
                        createdAt: 1657709669975
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 51d84ee4-5a40-4a9b-8df3-1a6b998834c4
                        scheduledAt: 1657276699605
                        id: 80d15bcd-42bb-4d65-a29d-84c1fdfacf9e
                        campaignName: 'Test Test '
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - '${first_name} how are you?'
                        createdAt: 1657276699611
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: c6b8b178-fafe-4718-96c9-b5439af17fe9
                        scheduledAt: 1657097675344
                        id: 31422f76-2765-4a72-a630-dd6f9f615bc3
                        campaignName: Test Journey
                        status: Triggered
                        emailType: AMP
                        senderEmail: myhtmltester@mailmodo.com
                        subjects:
                          - NPS Feedback
                        createdAt: 1657097675351
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 8b199dce-d5df-49bf-b0b7-42f2b895d004
                        scheduledAt: 1656926248182
                        id: 401a1279-e41a-4a39-9d36-40ad980c18a5
                        campaignName: test-calendar - ignore
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - test
                        createdAt: 1656926248190
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 323c6c07-baf8-4b42-ba2b-b66d8eae9b72
                        scheduledAt: 1656603112861
                        id: 323d7dc0-7f4f-4b42-92d9-956ee95c006e
                        campaignName: TYst Campaign
                        status: Triggered
                        emailType: AMP
                        senderEmail: rahul@mailmodo.com
                        subjects:
                          - DP HT TEST
                        createdAt: 1656603112870
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 86865764-4e9b-41d8-8128-8b64f04f11bd
                        scheduledAt: 1656601696475
                        id: 0d8e3d85-431c-408d-b128-a65ed9137057
                        campaignName: DP HT Test
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - DP HT TEST
                        createdAt: 1656601696484
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: c2e73cc5-8c16-43fc-86fc-13f5d830a2c4
                        scheduledAt: 1656442577614
                        id: e512a616-7542-434d-b849-2ab2d9b715f8
                        campaignName: Abc
                        status: Triggered
                        emailType: AMP
                        senderEmail: intern@mailmodo.com
                        subjects:
                          - '${First Name}${last_name}'
                        createdAt: 1656442577618
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 2a9da911-fcf1-47ff-8a47-e097e0e6b0f8
                        scheduledAt: 1656418916152
                        id: b3458075-574b-47e8-8b4f-d5c31b6e2c9e
                        campaignName: test-calendar
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - test-calendar
                        createdAt: 1656418916160
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 3390e59a-46ea-45ba-93a7-b98ce4c44deb
                        scheduledAt: 1656303246395
                        id: 048ae2ce-af31-4e15-a234-7aed428ee1ba
                        campaignName: Test fjfj
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - Test
                        createdAt: 1656303246405
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: b18d8584-e398-4cbc-96e7-46fcb1b26097
                        scheduledAt: 1656000626382
                        id: 84f6f310-c51a-4fe7-83d4-b1b4a61464e6
                        campaignName: Alok Test TEst
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - "Hi ${first_name}, please rate your experience with us\U0001F603"
                        createdAt: 1656000626386
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 323c6c07-baf8-4b42-ba2b-b66d8eae9b72
                        scheduledAt: 1655746335752
                        id: 3a49cd44-8ee9-49e3-aa04-6b7b965a9e27
                        campaignName: Test1234
                        status: Triggered
                        emailType: AMP
                        senderEmail: rahul@mailmodo.com
                        subjects:
                          - 'Test '
                        createdAt: 1655746335762
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 624b8799-7edf-443a-91f4-5fcfc0024f96
                        scheduledAt: 1655287507503
                        id: d48abf33-aec8-4104-bae2-2ac66a62a829
                        campaignName: DP test 2
                        status: Triggered
                        emailType: AMP
                        senderEmail: aquib@mailmodo.com
                        subjects:
                          - Test DP 2
                        createdAt: 1655287507510
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 323c6c07-baf8-4b42-ba2b-b66d8eae9b72
                        scheduledAt: 1654850431011
                        id: d700e7b0-6cf7-4392-a885-db18f18813bc
                        campaignName: testest
                        status: Triggered
                        emailType: AMP
                        senderEmail: paul@mailmodo.com
                        subjects:
                          - testest
                        createdAt: 1654850431022
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 774fbec5-66ce-47b4-9063-869dca2a3e2a
                        scheduledAt: 1654677934752
                        id: 5ecee6f9-aa31-4a44-9b59-ad5181f026ea
                        campaignName: No Cart Recovery 44
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
                          - No Cart Recovery Email
                        createdAt: 1654677934757
                      - creationSource: JOURNEY_CAMPAIGN
                        campaignType: TRIGGERED
                        templateId: 774fbec5-66ce-47b4-9063-869dca2a3e2a
                        scheduledAt: 1654677820529
                        id: 02f24361-44cb-4746-8f74-ed85d16552b1
                        campaignName: Recovery Email
                        status: Triggered
                        emailType: AMP
                        senderEmail: htmltester@mailmodo.com
                        subjects:
[...]
